.slider h3,
.slider h5,
.clients h3 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax-container {
  height: 20%;
}

.parallax img {
  filter: grayscale(1);
  opacity: 0.5 !important;
}

.clients img {
  max-width: 150px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

section,
footer {
  padding: 20px;
}

.slider img {
  background-color: cover;
  position: absolute;
}

.slider h3 {
  font-size: 20px;
}

.contact strong {
  content: none;
}

/*  lawyer  */
.lawyer {
  background-color: #f1c668;
}

.services {
  background-color: #f1c668;
}

.about p {
  text-align: center;
}


a.btn-floating img {
  background-img : white;
  border-radius: 80px;
  width:100%;
}


/* Version Dekstop */
@media (min-width: 768px) {
  .slider h3 {
    font-size: 45px;
  }

  .slider img {
    background-color: cover;
  }



}
